<div class="wrapper">
  <h1>Attending Members</h1>
  <div class="table">
    <div class="row header">
      <div class="cell">
        Userame
      </div>
      <div class="cell">
        Regitration Date
      </div>
      <div class="cell">
        Email
      </div>
    </div>
    <%@event.attendees.each do |a|%>
      <div class="row">
        <div class="cell" data-title="Name">
          <%= a.user.username%>
        </div>
        <div class="cell" data-title="Age">
          <%=a.created_at.strftime('%B %d, %Y')%>
        </div>
        <div class="cell" data-title="Occupation">
          <%= a.user.email%>
        </div>
      </div>
    <%end%>
  </div>
</div>
