<footer>
  <div>
    <div>
      <h3>Event Links</h3>
      <ul>
        <li>Upcoming Events</li>
        <li>Previous Events</li>
        <li>My Events</li>
      </ul>
    </div>
    <div>
      <h3>Explore More</h3>
      <ul>
        <li>How it works</li>
        <li>Event Promoter</li>
        <li>Event Organizer</li>
      </ul>
    </div>
    <div>
      <h3>Connect with us</h3>
      <ul>
        <li>Customer Support</li>
        <li>Event promoter</li>
      </ul>
    </div>
  </div>
  <hr>
  <p> &copy; Private Events <%=Time.new.year %></p>
</footer>
